# Jetson kernel build ignore
drivers/tty/vt/conmakehash
kernel/config_data
lib/gen_crc32table
lib/raid6/mktables
scripts/asn1_compiler
scripts/basic/fixdep
scripts/dtc/dtc
scripts/extract-cert
scripts/genksyms/genksyms
scripts/kallsyms
scripts/kconfig/conf
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/sign-file
scripts/sorttable
usr/gen_init_cpio
usr/initramfs_data.cpio
usr/initramfs_inc_data
arch/arm64/boot/Image
certs/x509_certificate_list
drivers/scsi/scsi_devinfo_tbl.c
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
lib/crc32table.h
lib/oid_registry_data.c
lib/raid6/int1.c
lib/raid6/int16.c
lib/raid6/int2.c
lib/raid6/int32.c
lib/raid6/int4.c
lib/raid6/int8.c
lib/raid6/neon1.c
lib/raid6/neon2.c
lib/raid6/neon4.c
lib/raid6/neon8.c
lib/raid6/tables.c
security/selinux/av_permissions.h
security/selinux/flask.h
scripts/kconfig/conf



# SPDX-License-Identifier: GPL-2.0-only
#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i -c --exclude-per-directory=.gitignore'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules (sorted alphabetically)
#
.*
*.a
*.asn1.[ch]
*.bin
*.bz2
*.c.[012]*.*
*.dt.yaml
*.dtb
*.dtbo
*.dtb.S
*.dtbo.S
*.dwo
*.elf
*.gcno
*.gcda
*.gz
*.i
*.ko
*.lex.c
*.ll
*.lst
*.lz4
*.lzma
*.lzo
*.mod
*.mod.c
*.o
*.o.*
*.patch
*.rmeta
*.rpm
*.rsi
*.s
*.so
*.so.dbg
*.su
*.symtypes
*.tab.[ch]
*.tar
*.xz
*.zst
Module.symvers
dtbs-list
modules.order

#
# Top-level generic files
#
/linux
/modules-only.symvers
/vmlinux
/vmlinux.32
/vmlinux.map
/vmlinux.symvers
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers
/modules.builtin
/modules.builtin.modinfo
/modules.builtin.ranges
/modules.nsdeps

#
# RPM spec file (make rpm-pkg)
#
/rpmbuild/

#
# Debian directory (make deb-pkg)
#
/debian/

#
# Snap directory (make snap-pkg)
#
/snap/

#
# tar directory (make tar*-pkg)
#
/tar-install/

#
# pacman files (make pacman-pkg)
#
/PKGBUILD
/pacman/

#
# We don't want to ignore the following even if they are dot-files
#
!.clang-format
!.cocciconfig
!.editorconfig
!.get_maintainer.ignore
!.gitattributes
!.gitignore
!.kunitconfig
!.mailmap
!.rustfmt.toml

#
# Generated include files
#
/include/config/
/include/generated/
/arch/*/include/generated/

# stgit generated dirs
patches-*

# quilt's files
patches
series

# ctags files
tags
TAGS

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# id-utils files
ID

*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.pem
signing_key.priv
signing_key.x509
x509.genkey

# Kconfig presets
/all.config
/alldef.config
/allmod.config
/allno.config
/allrandom.config
/allyes.config

# Kconfig savedefconfig output
/defconfig

# Kdevelop4
*.kdev4

# Clang's compilation database file
/compile_commands.json

# Documentation toolchain
sphinx_*/

# Rust analyzer configuration
/rust-project.json
